@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  --color-logo-blue: #28437e;
  --color-our-cream: #dbd4d4;
  --color-menu-red: #e14f52;
  --animate-fade-in: fade-in 1s ease-in-out forwards;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100 {
      opacity: 1;
    }
  }
  --animate-fade-out: fade-out 0.5s forwards;
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}

:root {
  font-family: "Montserrat", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #2a2a2a;
  background-color: #dbd4d4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  /* For Firefox */
  .custom-scrollbar {
    /* Set the scrollbar thumb (the draggable part) color */
    scrollbar-color: rgb(182, 27, 81) rgb(194, 166, 176); /* thumb | track */

    /* Set the scrollbar width */
    scrollbar-width: thin; /* Options: auto, thin, none */
  }
  /* For WebKit Browsers (Chrome, Safari, Edge) */
  .custom-scrollbar::-webkit-scrollbar {
    height: 0.75rem; /* Horizontal scrollbar height */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(182, 27, 81); /* Track color */
    border-radius: 10px; /* Rounded track */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(194, 166, 176); /* Scrollbar color */
    border-radius: 10px; /* Rounded scrollbar */
    /* Border around scrollbar */
  }

  .wrapper-outer {
    /* border: 1px solid red; */
    height: fit-content;
    margin-inline: auto;
    max-inline-size: 700px;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    justify-items: center;
  }

  .wrapper-inner {
    /* border: 1px solid red; */
    margin-inline: auto;
    margin-block: 2rem;
    padding: 1rem;
  }

  .bg-grid {
    background-image:
      linear-gradient(hsla(359, 71%, 60%, 0.3) 1px, transparent 1px),
      linear-gradient(90deg, hsla(222, 66%, 60%, 0.3) 1px, transparent 1px);
    background-size: 60px 60px;
  }
}
