@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-abril: "Abril Fatface", serif;
  --font-krona: "Krona One", sans-serif;
  --color-logo-blue: #024b78;
  --color-our-cream: #e6e1e7;
  --color-menu-red: #af282f;
  --color-dark-primary: #3c5b6f;
  --color-dark-secondary: hsla(219, 11%, 74%, 0.8);
  --color-dark-tertiary: #153448;
  --color-photo-layer: hsla(0, 0%, 0%, 0.6);
  --animate-fade-in: fade-in 0.5s ease-in-out forwards;

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  --animate-fade-out: fade-out 0.5s forwards;
  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  --animate-slide: slide 1.5s ease-in-out forwards;
  @keyframes slide {
    0% {
      transform: translateX(-100%);
    }
    50% {
      transform: translateX(20%);
    }
    80% {
      transform: translateX(-2%);
    }
    90% {
      transform: translateX(2%);
    }
    100% {
      transform: translateX(0);
    }
  }
  --animate-slide-from-bottom: slide-from-bottom 1.5s ease-in-out forwards;

  @keyframes slide-from-bottom {
    0% {
      transform: translateY(100%);
    }
    80% {
      transform: translateY(-2%);
    }
    100% {
      transform: translateY(0);
    }
  }

  --animate-slide-from-top: slide-from-top 1.5s ease-in-out forwards;
  @keyframes slide-from-top {
    0% {
      transform: translateY(-100%);
    }
    80% {
      transform: translateY(2%);
    }
    100% {
      transform: translateY(0);
    }
  }
  --animate-scale-up: scale-up 1.5s linear 0.5s forwards;

  @keyframes scale-up {
    50% {
      transform: scale(0.9);
      opacity: 0.5;
    }

    50% {
      transform: scale(1.1);
      opacity: 0.5;
    }

    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  --animate-blur: blur 2s ease-in-out 0.5s forwards;
  @keyframes blur {
    0% {
      filter: blur(2px);
    }
    100% {
      filter: blur(0);
    }
  }
}

:root {
  font-family: "Montserrat", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #2a2a2a;
  background-color: #e6e1e7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  /* For Firefox */
  .custom-scrollbar {
    /* Set the scrollbar thumb (the draggable part) color */
    scrollbar-color: rgb(182, 27, 81) rgb(194, 166, 176); /* thumb | track */
    /* Set the scrollbar width */
    scrollbar-width: thin; /* Options: auto, thin, none */
  }
  /* For WebKit Browsers (Chrome, Safari, Edge) */
  .custom-scrollbar::-webkit-scrollbar {
    height: 0.75rem; /* Horizontal scrollbar height */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: rgb(182, 27, 81); /* Track color */
    border-radius: 100px; /* Rounded track */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgb(194, 166, 176); /* Scrollbar color */
    border-radius: 100px; /* Rounded scrollbar */
    /* Border around scrollbar */
  }

  .wrapper-outer {
    /* border: 1px solid red; */
    height: 80vh;
    margin-inline: auto;
    max-inline-size: 900px;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    justify-items: center;
  }

  .wrapper-inner {
    /* border: 1px solid red; */
    margin-inline: auto;
    margin-block: 2rem;
    padding: 1rem;
    margin: 1rem;
  }

  .bg-grid {
    @apply bg-[linear-gradient(hsla(359,71%,60%,0.3)_1px,transparent_1px),linear-gradient(90deg,hsla(222,66%,60%,0.3)_1px,transparent_1px)];
    background-size: 60px 60px;
  }

  .dark .bg-grid {
    @apply bg-dark-primary bg-[linear-gradient(hsla(0,9%,85%,0.3)_1px,transparent_1px),linear-gradient(90deg,hsla(0,9%,85%,0.3)_1px,transparent_1px)];
  }
  #qr-reader {
    @apply my-4 p-2;
  }

  #qr-shaded-region {
    @apply rounded-xl;
  }
}

.swiper {
  display: grid;
  width: 70vw;
  height: 50vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.swiper-pagination-bullet-active {
  background-color: #122653 !important;
}
